@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow-x: hidden;
   
}


/*Footer*/
.footer{
    background-color: black;
    padding: 10px;
    line-height: 1.5;

}
.container{
    max-width: 1170px;
    margin: auto;
}

h4{
    color: white;
}
ul{
    list-style: none;
}

.footer .container .rows{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 20px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: aqua;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
    font-size: 20px;
}

.footer-col ul li a:hover{
    color: aqua;
    padding-left: 10px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    text-align: center;
    line-height: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    color: white;
    transition: all 0.3s ease;
}

.footer-col .social-links a:hover{
    color: aqua;
    background-color: white;
}

.container h3{
    color: white;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 30px;
    font-size: 15px;
}