@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



/* first container*/
.container-one{
    width: 100%;
    height: 80vh;
    background: rgba(0, 0, 0, 0.7) url("Pictures/leagues_background.jpeg");
    background-blend-mode: darken;
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
}
.container-one h1{
    color: rgb(0, 223, 162);
    position: absolute;
    top: 180px;
    left: 500px;
    font-size: 50px;
    text-align: center;
}
.logoText{
    color: #00DFA2;
}
.one{
    border: dotted whitesmoke 6px;
    border-bottom: none;
    width: 4%;
    position: absolute;
    top: 270px;
    left: 710px;
    text-align: center;
}
.top-p{
    color: white;
    position: absolute;
    top: 320px;
    bottom: 20px;
    left: 380px;
    line-height: 2;
    text-align: center;
    font-weight: bold;
}

/*mid container*/
.middle-container{
    color:black;
    
}
.skill-row{
    width: 60%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: left;
    line-height: 2;
}
.skill-row p{
    text-align: justify;
}
.skill-row button a:hover{
    color: red;
}

.champions{
    width: 40%;
    float: left;
    margin-right: 30px;
}

h3{
    color: #5e8b7f;
    text-align: center;
}
.button {
    border: none;
    color: white;
    padding: 14px 28px;
    margin-left: 50%;
    margin-bottom: 60px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
  }
  .back_btn {
    width: 60px;
    height: 55px;
    padding: 10px; 
    border-radius: 5px;
    border: 1px solid #000000;
    background-color: rgb(0, 223, 162);
    cursor: pointer;
    margin-left: 94%;
    
}

.back_btn:hover {
    background-color: #df2121;
}

.back_btn img {
    float: left;
    width: 40px;
    height: 40px;
    padding-bottom:15% ;
}